---

//

---
<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

<div class="container flex  items-center h-full relative ">
    <img src="https://www.sliderrevolution.com/wp-content/uploads/revslider/Seafood-Store-Template/salmon-fillet-2.png" alt="" class="cursor-pointer z-30 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute" id="sliderButton">
    <img src="https://www.sliderrevolution.com/wp-content/uploads/revslider/Seafood-Store-Template/f-logo-1.png" alt="" class="z-30 w-1/12 top-1/12 left-[5%] absolute">
    <div class="bg-[#e6e0c6] w-1/2 h-full absolute">
        <div class="bottom-0 left-1/12 -translate-y-[10dvh] absolute text-black container-fluid">
            <h1 class="homemade-apple-regular text-[#ef6301]">Atlantic</h1> 
            <h1 class="dela-gothic-one-regular text-[#008ba8] Salmon">Salmon</h1>
            <p class="mt-10 text-sm text-[#89897f] font-bold">Our Atlantic Salmon is renowned for its rich flavor and tender texture, perfect for any gourmet dish.</p>
        </div>
   </div>
   <div class="bg-[#efeddb] w-1/2 h-full absolute end-0 text-black">
    <div class="h-1/2 bottom-0 end-0 w-1/2 translate-y-[10dvh] absolute">    
        <div style="width: 100%; padding: 0; background: transparent;" class="text-container">
            <div class="epilogue-regular">Size</div>
            <div class="epilogue-desc">Up to 150 cm (59 inches)</div>
          
            <div class="epilogue-regular">Weight</div>
            <div class="epilogue-desc">Up to 36 kg (79 lbs)</div>
          
            <div class="epilogue-regular">Nutritional Value</div>
            <div class="epilogue-desc">High in omega-3 fatty acids, protein, and vitamin D</div>
          
            <div class="epilogue-regular">Best Cooking Methods</div>
            <div class="epilogue-desc" style="padding: 0 36px 0 71px;">Grilling, baking, poaching</div>
          </div>
          
    </div>
   </div>
   <div class="text-black absolute w-1/2 h-full justify-center items-center transition-all duration-1000 -right-[50%] z-40" id="rightSlide">
    <video src="/src/assets/water.mp4" autoplay loop muted class="absolute w-full h-full object-cover"></video>
    <div class="left-1/2">
        <h1 class="bubbleText">Click</h1>
        <br/><br/>
        <h1 class="bubbleText">The Fish</h1>
        <br/><br/>
        <h1 class="bubbleText">To see More info</h1>
    </div>
    <img src="https://www.sliderrevolution.com/wp-content/uploads/revslider/Seafood-Store-Template/salmon-1.png" alt="" class="cursor-pointer z-30 top-1/2 clip-right -translate-x-1/2 scale-200 md:scale-200 lg:scale-100 md:-translate-x-1/2 -translate-y-1/2 absolute" id="sliderButton2">
   </div>
</div>
<div class="bg-[#e6e0c6] -mt-2 container-fluid h-full relative">
    <h1>Test</h1>
</div>
<script>
    let sliderButton = document.getElementById("sliderButton");
    let sliderButton2 = document.getElementById("sliderButton2");
    let rightSlide = document.getElementById("rightSlide");
    [sliderButton, sliderButton2].forEach(button => {
    button?.addEventListener("click", () => {
        rightSlide?.classList.toggle("show");
    })
    })
    setTimeout(() => {
    rightSlide?.classList.add("show");
    }, 500);
    let textContainer = document.querySelector(".text-container");
    sliderButton?.addEventListener("click", () => {
    textContainer?.classList.toggle("appear");
    });
  </script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Homemade+Apple&display=swap');
    .homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .text-container div {
        clip-path: inset(0 100% 0 0);
        transition: clip-path 2s ease-in-out;
    }
    
    .text-container.appear div {
        clip-path: inset(0 0 0 0);
    }
    .description h1{
        color: #ef6301;
    }
    .bubbleText{
        pointer-events: none;
        font-family: Epilogue;
        font-size: 13px;
        font-weight: 700;
        color: rgb(240, 236, 219);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        line-height: 30px;
        text-align: center;
        white-space: normal;
        overflow: visible;
        right: 0;
        margin-top: 30%;
        margin-right: 10%;
        width: fit-content;
        padding: 2px 10px 0px;
        height: auto;
        float: none;
        clear: none;
        border-style: solid;
        border-width: 1px 0px 0px;
        border-color: rgba(255, 255, 255, 0.25);
        z-index: 7;
        border-radius: 50px;
        position: absolute !important;
        vertical-align: inherit;
        transform-origin: 50% 50%;
        translate: none;
        rotate: none;
        scale: none;
        visibility: inherit;
        opacity: 1;
        transform: perspective(600px) translate3d(0px, 0px, 0px);
        backdrop-filter: blur(5px) brightness(110%);
        background: rgba(0, 38, 58, 0.3);
    }
    .Salmon {
        pointer-events: none;
        font-family: "Dela Gothic One";
        font-size: 5dvw;
        font-weight: 400;
        color: rgb(0, 140, 168);
        text-transform: none;
        text-decoration: none;
        letter-spacing: -1.67188px;
        line-height: 59px;
        text-align: left;
        white-space: normal;
        overflow: visible;
        margin: 0px;
        width: auto;
        height: auto;
        float: none;
        clear: none;
        z-index: 9;
        position: relative;
        vertical-align: inherit;
        transform-origin: 50% 50%;
        display: block;
        background: transparent;
        translate: none;
        rotate: none;
        scale: none;
        visibility: inherit;
        opacity: 1;
        transform: translate(0px, 0px);
    }
    .dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .epilogue-desc {
        font-family: Epilogue; 
        font-size: 13px; 
        font-weight: 500; 
        color: rgb(114, 114, 114); 
        padding: 0 36px 21px 71px;
    }
    .epilogue-regular {
        font-family: 'Dela Gothic One'; 
        font-size: 17px; 
        font-weight: 400; 
        color: rgb(244, 97, 0); 
        padding: 0 0 7px 71px;
    }
    #rightSlide {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    }

    #rightSlide.show {
    transform: translateX(0);
    }
    .clip-right {
    overflow: hidden;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }
    .clip-left {
    overflow: hidden;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    }
    #container {
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        height: 100%;
    }

    main {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 22px;
        margin-top: 0.25em;
    }
    pre {
        font-family:
            ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
            monospace;
        font-weight: normal;
        background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }

    h2 {
        margin: 0 0 1em;
        font-weight: normal;
        color: #111827;
        font-size: 20px;
    }

    @media screen and (max-height: 368px) {
    }

    @media screen and (max-width: 768px) {
        #container {
            display: flex;
            flex-direction: column;
        }

        h1 {
            line-height: 1.5;
        }
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

